body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 2rem;
    background: linear-gradient(135deg, #a489e1, #d92955, rgb(188, 68, 176));
    color: #333;
    text-align: center;
}

h1, h2 {
    color: #ffffff;
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out; 
}

li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0.8rem;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(-20px);
    animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-form {
    padding: 0.8rem;
    width: 80%;
    max-width: 300px;
    font-size: 1rem;
    border: 2px solid #4CAF50;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    animation: bounceIn 0.6s ease;
}

.input-form:focus {
    border-color: #45a049;
    box-shadow: 0 0 8px rgba(72, 169, 72, 0.7);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

@keyframes bounceIn {
    0% { transform: scale(0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #45a049;
    transform: scale(1.05); 
    animation: pulse 0.5s infinite; 
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#notificacion {
    display: none;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 8px;
    max-width: 500px;
    margin: 1rem auto;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#resultadoBusqueda {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #333;
}

.form-group {
    margin: 1rem 0;
    text-align: left;
    max-width: 300px;
    margin: 0.5rem auto;
}
